<mat-card class="user-settings bg-dark text-light mat-elevation-z24">
  <div class="card-header">User settings</div>
  <div class="card-body">
    <mat-form-field>
      <input matInput type="text" />
      <mat-placeholder class="placeholder">First Name</mat-placeholder>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" />
      <mat-placeholder class="placeholder">Last Name</mat-placeholder>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="email" />
      <mat-placeholder class="placeholder">Email</mat-placeholder>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" />
      <mat-placeholder class="placeholder">Password</mat-placeholder>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" />
      <mat-placeholder class="placeholder">Phone Number</mat-placeholder>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" />
      <mat-placeholder class="placeholder">Adress</mat-placeholder>
    </mat-form-field>
    <button mat-raised-button>Basic</button>
  </div>
</mat-card>

<mat-card class="smart-home-settings bg-dark text-light mat-elevation-z24">
  <div class="card-header">Smart home settings</div></mat-card
>
