@mixin basicCardSettings {
  height: 82%;
  width: 40%;
  margin-left: 25%;
  float: left;
  margin-top: 1%;

  border-radius: 13px 13px 13px 13px;
  -moz-border-radius: 13px 13px 13px 13px;
  -webkit-border-radius: 13px 13px 13px 13px;
  border: 0px solid #000000;
}

.user-settings {
  @include basicCardSettings;

  .mat-focused .placeholder {
    color: #00d318;
  }
  .mat-form-field .placeholder {
    color: aliceblue;
  }
  .mat-form-field {
    width: 90%;
  }
  .card-body {
    margin-top: 5%;
  }
  .mat-raised-button {
    width: 50%;
    margin-left: 48%;
    margin-top: 7%;
  }
  background-color: rgba(52, 58, 64, 0.8);

  .fileButton {
    margin-left: 5%;
    margin-top: 0%;
  }
}
