

#the exchange for receiving data from devices
DEVICES_EXCHANGE_NAME=colector_exchange


#the exchange for sending info to server
SERVER_EXCHANGE_NAME=direct_messages


#rabbitmq broker credentials
RABBITMQ_USERNAME=test
RABBITMQ_PASSWORD=test
RABBITMQ_PORT=5672


#the key with which the data sent to server is encrypted
CONSUMER_KEY=consumer_key


#exchange type
EXCHANGE_TYPE=direct


#exchange host
HOST=localhost


#the queues through which is received the data from sensors
QUEUE_SENSOR=queue_sensor
QUEUE_SWITCH=queue_switch
QUEUE_OUTLET=queue_outlet


#the keys with which the data received to from sensors is encrypted
OUTLET_KEY=outlet_key
SWITCH_KEY=switch_key
SENSOR_KEY=sensor_key


#Queue through which we receive the instrunctions from server
QUEUE_INSTRUCTION=queue_instruction

#the key with which the instrunctions from server are encrypted
INSTRUCTION_KEY=instruction_key