@mixin sidePanelElementsShading {
    -webkit-box-shadow: -14px 12px 16px -10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: -14px 12px 16px -10px rgba(0, 0, 0, 0.7);
    box-shadow: -14px 12px 16px -10px rgba(0, 0, 0, 0.7);
  }
  
  .statistics {
    @include sidePanelElementsShading;
    float: right;
    height: 40vh;
    width: 100%;
  }
  
  @mixin statisticsPanelElementsSize {
    $sidePanelElementsHeight: 30%;
    $sidePanelElementsWidth: 20%;
  }
  @mixin statisticsPanelElementsPicture {
    height: 100%;
    width: 60%;
    padding-bottom: 10%;
    cursor: pointer;
  }
  
 
  
    .today-consumption {
      margin-left: 5%;
      font-size: 90%;
      @include statisticsPanelElementsSize;
      .icon-image {
        @include statisticsPanelElementsPicture;
        float: left;
      }
    }
    .month-consumption {
      font-size: 90%;
      margin-left: 1%;
      @include statisticsPanelElementsSize;
      .icon-image {
        @include statisticsPanelElementsPicture;
        float: right;
      }
    }
  
    .today-cost {
      font-size: 100%;
      height: 30%;
      width: 40%;
      h6 {
        font-size: 110%;
        margin-top: 10%;
      }
      mat-card {
        background-color: #474747;
        width: 110%;
        margin-top: 13%;
        margin-right: 20%;
        color: white;
      }
    }
  
    .month-cost {
      font-size: 100%;
      margin-left: 1%;
      height: 30%;
      width: 40%;
      h6 {
        font-size: 110%;
        margin-top: 10%;
      }
      mat-card {
        background-color: #474747;
        width: 110%;
        margin-top: 13%;
        margin-right: 20%;
        color: white;
      }
    }
  