#Wed Apr 03 20:07:06 EEST 2019
outlet8=0
outlet7=0
outlet6=0
outlet5=0
outlet4=0
outlet3=0
outlet2=0
outlet1=0
switch4=0
switch3=0
switch2=0
switch1=0
17=solarPowerSource
16=solarPowerSource
sensor4=1
sensor3=1
14=solarPowerSource
13=solarPowerSource
sensor2=1
sensor1=1
11=solarPowerSource
10=solarPowerSource
9=normalPowerSource
6=solarPowerSource
5=normalPowerSource
25=solarPowerSource
24=normalPowerSource
21=normalPowerSource
20=normalPowerSource
