#Thu Mar 07 16:09:57 EET 2019
outlet8=0
outlet7=0
outlet6=0
outlet5=0
outlet4=0
outlet3=0
outlet2=0
outlet1=0
switch4=0
switch3=0
switch2=0
switch1=0
16=normalPowerSource
sensor4=1
sensor3=1
sensor2=1
13=solarPowerSource
sensor1=1
9=normalPowerSource
5=normalPowerSource
24=normalPowerSource
20=normalPowerSource
