#Thu May 02 18:55:19 EEST 2019
outlet8=1
outlet7=0
outlet6=1
outlet5=1
outlet4=1
outlet3=1
outlet2=0
outlet1=1
switch4=0
switch3=0
switch2=0
switch1=0
17=solarPowerSource
16=solarPowerSource
sensor4=1
sensor3=1
14=solarPowerSource
13=solarPowerSource
sensor2=1
12=solarPowerSource
sensor1=1
11=solarPowerSource
10=solarPowerSource
9=normalPowerSource
7=normalPowerSource
6=solarPowerSource
5=normalPowerSource
25=solarPowerSource
24=normalPowerSource
22=solarPowerSource
21=solarPowerSource
20=normalPowerSource
