#Thu Mar 07 16:09:54 EET 2019
outlet8=1
outlet7=1
outlet6=1
outlet5=1
outlet4=1
outlet3=1
outlet2=1
outlet1=1
switch4=0
switch3=0
switch2=0
switch1=0
16=normalPowerSource
sensor4=1
sensor3=1
sensor2=1
13=solarPowerSource
sensor1=1
9=solarPowerSource
5=normalPowerSource
24=solarPowerSource
20=normalPowerSource
