<div class=" card text-dark bg-light power-source mat-elevation-z24">
  <h5 class="title">Power Source</h5>
  <img src="./assets/resources/powerSource.png" alt="" class="power-source-image">
  <div *ngIf="circuit!=undefined && circuit.currentState=='expanded'">

    <h6  class="main-propertyType">Type  &nbsp;
      {{powerSourceType}}</h6>

    <h6 *ngIf="circuit.powerSource=='solarPanel'" class="main-propertyGP">Generated power &nbsp;
      {{circuit.powerSourceGeneratedPower}} {{x}} kW</h6>

    <h6 *ngIf="circuit.powerSource=='solarPanel'" class="main-propertyMS">Money worth &nbsp; {{moneyWorth}} {{globalCurrencyLabel}}</h6>

  </div>
</div>