.power-source {
  height: 424.5px;
  width: 167%;
  .title {
   color : white;
  }
  .power-source-image {
    height: 30%;
    width: 50%;
    margin-left: 40%;
  }
  .main-propertyGP {
    margin-top: 4%;
    margin-left: 5%;
    font-size: 110%;
    margin-bottom: 10%;
    color : white;
   
  }
  .main-propertyMS {
    margin-top: 4%;
    margin-left: 5%;
    font-size: 100%;
    margin-bottom: 10%;
    color : white;
  }
  .main-propertyType {
    margin-top: 12%;
    margin-left: 5%;
    font-size: 110%;
    margin-bottom: 10%;
    color : white;
  }
}
