.power-source {
  background-color: #474747;
  height: 394.5px;
  width: 167%;
  .title {
    margin-top: 2.5%;
    margin-left: 2.5%;
  }
  .power-source-image {
    height: 30%;
    width: 50%;
    margin-left: 40%;
  }
  .main-propertyGP {
    margin-top: 4%;
    margin-left: 5%;
    font-size: 110%;
    margin-bottom: 10%;
   
  }
  .main-propertyMS {
    margin-top: 4%;
    margin-left: 5%;
    font-size: 100%;
    margin-bottom: 10%;
  
   
  }
  .main-propertyType {
    margin-top: 12%;
    margin-left: 5%;
    font-size: 110%;
    margin-bottom: 10%;
  }
}
