.power-map {
  width: 65%;
  height: 85%;
  margin-left: 1%;
  float: left;
  overflow: hidden;
  .circuit {
    height: 10%;
    .title {
      margin-top: 0.5%;
      margin-left: 0.5%;
      float: left;
      cursor: pointer;
    }
  }
  .info-panel {
    width: 15%;
    height: 100%;
    float: left;
  }
}
#expand-retract-icon {
  width: 2%;
  height: 80%;
  float: left;
}

.node {

  cursor: pointer;
  color: white;

  circle {
    fill: #A8A7A8;
    stroke: #CC527A;
    stroke-width: 3px;
  }

  text {
    font: 120% sans-serif;
  }
}

.link {
  fill: none;
  stroke: #A8A7A8;
  stroke-width: 4px;
}

.right-size-consumers{
 
  .card-body{
    color: aliceblue;
    overflow-y:scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  float:right;
  width:26.2%;
  height: 85%;

  margin-right: 1%;
  .right-consumer{
    background-color: #474747;
    height: 20%;
    margin-bottom: 2%;
  }
}
