
ul {
  -webkit-box-shadow: -2px 0px 29px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 0px 29px -8px rgba(0,0,0,0.75);
  box-shadow: -2px 0px 29px -8px rgba(0,0,0,0.75);

  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  
    float: right;
    list-style-type: none;
    margin-right: 2%;
    margin-top: 2%;
    padding: 0;
    overflow: hidden;
    background-color: #4c4c4c;;
    width: 88%;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
