ul {
  -webkit-box-shadow: -2px 0px 29px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 0px 29px -8px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 0px 29px -8px rgba(0, 0, 0, 0.75);

  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;

  float: right;
  list-style-type: none;
  margin-right: 2%;
  margin-top: 2%;
  padding: 0;
  overflow: hidden;
  width: 88%;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

@keyframes hover {
  from {
  }
  to {
    border: 0px solid #000000;
    background-color: rgba(189, 201, 229, 0.2);
  }
}
li a:hover {
  animation-fill-mode: forwards;
  animation-name: hover;
  animation-duration: 0.2s;

  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}
