<app-nav-bar></app-nav-bar>

<app-left-side-menu></app-left-side-menu>

<div class="user-content">
  <app-right-side-panel></app-right-side-panel>

  <div class="text-dark bg-light basic-content">
    <div class="pie-chart-container">
      <canvas id="doughnut-chart"></canvas>
    </div>

    <div class="row">
      <ul class="list-group outlet-list">
        <li
          *ngFor="let outlet of outlets"
          class="list-group-item"
          (click)="initializeLineChart(outlet)"
        >
          {{ outlet }}
        </li>
      </ul>

      <div class="line-chart-container">
        <canvas id="line-chart"></canvas>
      </div>
    </div>
  </div>
</div>
