<app-nav-bar></app-nav-bar>

<app-left-side-menu></app-left-side-menu>

<div class="user-content">
  <app-right-side-panel></app-right-side-panel>

  <div class="text-dark bg-light basic-content">
    <div class="pie-chart-container">
      <canvas id="doughnut-chart"></canvas>
    </div>

    <div class="row">

      <!-- <ul class="list-group outlet-list">
        <li
          *ngFor="let outlet of outlets"
          class="list-group-item"
          (click)="initializeLineChart(outlet)"
        >
          {{ outlet }}
        </li>
      </ul> -->
      <div class="treeContainer bg-dark text-light">
      <cdk-tree [dataSource]="dataSource" [treeControl]="treeControl">
          <!-- This is the tree node template for leaf nodes -->
          <cdk-nested-tree-node *cdkTreeNodeDef="let node" class="example-tree-node" (click)="initializeLineChart(node.name)">
           
            {{node.name}}
          </cdk-nested-tree-node>
          <!-- This is the tree node template for expandable nodes -->
          <cdk-nested-tree-node *cdkTreeNodeDef="let node; when: hasChild" class="example-tree-node" >
            <button mat-icon-button [attr.aria-label]="'toggle ' + node.name" cdkTreeNodeToggle>
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            {{node.name}}
            <div [class.example-tree-invisible]="!treeControl.isExpanded(node)">
              <ng-container cdkTreeNodeOutlet></ng-container>
            </div>
          </cdk-nested-tree-node>
        </cdk-tree>
      </div>
      <div class="line-chart-container">
        <canvas id="line-chart"></canvas>
      </div>
    </div>
  </div>
</div>
