.user-content {
  float: right;
  width: 93%;
}

.upper-side {
  width: 73%;
  height: 40vh;
  float: left;
}

.upper-side .upper-side-left {
  -webkit-box-shadow: -2px 0px 29px -8px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 0px 29px -8px rgba(0, 0, 0, 0.75);
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  width: 49.5%;
  height: 100%;
  float: left;
  margin-right: 1%;
}

.upper-side .upper-side-left .profile-picture {
  -webkit-box-shadow: -2px 0px 29px -8px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 0px 29px -8px rgba(0, 0, 0, 0.75);
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  height: 50%;
  width: 35%;
  margin-top: 5%;
  margin-left: 5%;
  float: left;
}

.upper-side .upper-side-left .nameAttribute {
  -webkit-box-shadow: -2px 0px 29px -8px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 0px 29px -8px rgba(0, 0, 0, 0.75);
  margin-top: 13%;
  font-size: 160%;
  margin-left: 45%;
  width: 50%;
}

.upper-side .upper-side-left .locationAttribute {
  -webkit-box-shadow: -2px 0px 29px -8px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 0px 29px -8px rgba(0, 0, 0, 0.75);
  margin-top: 10%;
  font-size: 160%;
  margin-left: 45%;
  width: 50%;
}

.upper-side .upper-side-left .phoneNumberAttribute {
  -webkit-box-shadow: -2px 0px 29px -8px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 0px 29px -8px rgba(0, 0, 0, 0.75);
  float: right;
  margin-top: 10%;
  font-size: 130%;
  width: 45.5%;
  margin-left: 1%;
  margin-right: 5.5%;
}

.upper-side .upper-side-left .emailAttribute {
  -webkit-box-shadow: -2px 0px 29px -8px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 0px 29px -8px rgba(0, 0, 0, 0.75);
  margin-left: 5%;
  margin-top: 11%;
  font-size: 130%;
  padding-left: 1%;
  width: 40.5%;
}

.upper-side .upper-side-right {
  -webkit-box-shadow: -2px 0px 29px -8px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 0px 29px -8px rgba(0, 0, 0, 0.75);
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  width: 49.5%;
  height: 100%;
  float: left;
}

.upper-side .upper-side-right .pie-chart-container {
  margin-top: 2%;
  display: block;
  float: right;
  height: 30vh;
  width: 35vw;
}

.lower-side {
  margin-top: 1%;
  -webkit-box-shadow: -2px 0px 29px -8px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 0px 29px -8px rgba(0, 0, 0, 0.75);
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  width: 73%;
  height: 43vh;
  float: left;
  -webkit-box-shadow: -1px 2px 20px 3px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 2px 20px 3px rgba(0, 0, 0, 0.75);
}

.row {
  margin-left: 3%;
  width: 97%;
  height: 100%;
}

.row .treeContainer {
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  margin-top: 5%;
  overflow-y: scroll;
  height: 29.5vh;
  width: 15vw;
  border-color: rgba(0, 0, 0, 0.2);
  background-color: rgba(248, 249, 250, 0.7);
}

@-webkit-keyframes example {
  from {
  }
  to {
    background-color: #808c99;
    color: black;
  }
}

@keyframes example {
  from {
  }
  to {
    background-color: #808c99;
    color: black;
  }
}

.row .treeContainer::-webkit-scrollbar {
  display: none;
}

.row .treeContainer .example-tree-invisible {
  display: none;
}

.row .treeContainer .example-tree-node {
  display: block;
}

.row .treeContainer .example-tree-node .example-tree-node {
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  cursor: pointer;
  margin-bottom: 2%;
  padding-bottom: 2%;
  padding-left: 6%;
  margin-left: 19%;
  margin-right: 50%;
}

.row .treeContainer .example-tree-node .example-tree-node:hover {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.row .line-chart-container {
  margin-top: 3%;
  float: right;
  margin-left: 5%;
  height: 40vh;
  width: 38vw;
}
/*# sourceMappingURL=home.component.css.map */