<div class="user-content">
  <app-right-side-panel></app-right-side-panel>

  <div class="text-light upper-side">
    <div
      class="upper-side-left"
      style=" background-color: rgba(52,58,64,0.8)"
    >
    <img class="profile-picture" [src]="'data:image/jpg;base64,'+ userInfo.profilePictureURL" />
  <h5 class="text-center nameAttribute card text-dark"> {{userInfo.firstName}}   {{userInfo.lastName}}  </h5>
  <h5 class="text-center locationAttribute card text-dark"> {{userInfo.location}}</h5>
  <h5 class=" text-center phoneNumberAttribute card text-dark"> +40{{userInfo.phoneNumber}}  </h5>
  <h5 class=" text-center emailAttribute card text-dark"> {{userInfo.email}}</h5>
  </div>
    <div
      class="upper-side-right "
      style=" background-color: rgba(52,58,64,0.8)"
    >
      <div class="pie-chart-container">
        <canvas id="doughnut-chart"></canvas>
      </div>
    </div>
  </div>
  <div
    class="text-light lower-side"
    style=" background-color: rgba(52,58,64,0.8)"
  >
    <div class="row">
      <div class="treeContainer  text-dark">
        <cdk-tree [dataSource]="dataSource" [treeControl]="treeControl">
          <!-- This is the tree node template for leaf nodes -->
          <cdk-nested-tree-node
            *cdkTreeNodeDef="let node"
            class="example-tree-node"
            (click)="initializeLineChart(node.name)"
          >
            {{ node.name }}
          </cdk-nested-tree-node>
          <!-- This is the tree node template for expandable nodes -->
          <cdk-nested-tree-node
            *cdkTreeNodeDef="let node; when: hasChild"
            class="example-tree-node"
          >
            <button
              mat-icon-button
              [attr.aria-label]="'toggle ' + node.name"
              cdkTreeNodeToggle
            >
              <mat-icon class="mat-icon-rtl-mirror">
                {{
                  treeControl.isExpanded(node) ? "expand_more" : "chevron_right"
                }}
              </mat-icon>
            </button>
            {{ node.name }}
            <div [class.example-tree-invisible]="!treeControl.isExpanded(node)">
              <ng-container cdkTreeNodeOutlet></ng-container>
            </div>
          </cdk-nested-tree-node>
        </cdk-tree>
      </div>
      <div class="line-chart-container">
        <canvas id="line-chart"></canvas>
      </div>
    </div>
  </div>
</div>
