@keyframes hover {
  from {
  }
  to {
    background-color: rgba(71, 71, 71, 0.5);
  }
}

@mixin border-radius {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
}

@mixin menu-icons {
  @include border-radius;
  cursor: pointer;
  width: 80%;
  margin-top: 15%;
  margin-left: 10%;
  &:hover {
    animation-fill-mode: forwards;
    animation-name: hover;
    animation-duration: 0.2s;
  }
}

@mixin sidePanelElementsShading {
  -webkit-box-shadow: -2px 0px 29px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 0px 29px -8px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 0px 29px -8px rgba(0, 0, 0, 0.75);
}

.left-main-menu {
  @include border-radius;
  @include sidePanelElementsShading;
  background-color: #4c4c4c;
  margin-left: 1%;
  width: 5%;
  float: left;
  margin-top: 4.6%;
  height: 30vh;

  .home-icon {
    @include menu-icons;
  }
  .map-icon {
    @include menu-icons;
  }
  .settings-icon {
    @include menu-icons;
  }
}
