<div class="side-panel ">
  <div class="card text-white bg-dark statistics">
    <div class="card-header">Statistics</div>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col today-consumption ">
            <ngx-gauge
              [type]="gaugeType"
              [value]="gaugeValueForToday"
              [label]="gaugeLabelForToday"
              [append]="gaugeAppendText"
              [animate]="animation"
              [size]="size"
              [thick]="thick"
              [max]="20"
            >
            </ngx-gauge>
          </div>
          <div class="col month-consumption">
            <ngx-gauge
              [type]="gaugeType"
              [value]="gaugeValueForThisMonth"
              [label]="gaugeLabelForThisMonth"
              [append]="gaugeAppendText"
              [animate]="animation"
              [size]="size"
              [thick]="thick"
              [max]="50"
            >
            </ngx-gauge>
          </div>
          <div class="w-100"></div>
          <div class="col tendencies">
            <ngx-gauge
              [type]="gaugeType"
              [value]="gaugeValue"
              [label]="gaugeLabel"
              [append]="gaugeAppendText"
              [animate]="animation"
              [size]="size"
            >
            </ngx-gauge>
          </div>
          <div class="col predictions">
            <ngx-gauge
              [type]="gaugeType"
              [value]="gaugeValue"
              [label]="gaugeLabel"
              [append]="gaugeAppendText"
              [animate]="animation"
              [size]="size"
            >
            </ngx-gauge>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-white bg-dark recent-activity">
    <div class="card-header">Recent Activity</div>
    <div
      class="card-body notifications"
      #notificationsPanel
      [scrollTop]="notificationsPanel.scrollHeight"
    >
      <p
        *ngFor="let notification of notifications"
        class="card-text notification"
      >
        {{ notification }}
      </p>
    </div>
  </div>
  <!-- <button (click)="this.notifications=[]">Clear</button> -->
</div>
