<div class="side-panel ">
  <div class="card text-white statistics" style=" background-color: rgba(52,58,64,0.8)">
    <div class="card-header" style="background-color:#CC527A">Statistics</div>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col today-consumption ">
            <h6 style="font-size:100%">Today consumption</h6>
            <ngx-gauge
              [type]="gaugeType"
              [value]="gaugeValueForToday"
              [append]="gaugeConsumptionAppendText"
              [animate]="animation"
              [size]="size"
              [thick]="thick"
              [max]="gaugeValueForToday*2"
            >
            </ngx-gauge>
          </div>
          <div class="col month-consumption">
              <h6 style="font-size:100%; margin-left: 15%;">This month</h6>
            <ngx-gauge
              [type]="gaugeType"
              [value]="gaugeValueForThisMonth"
              [append]="gaugeConsumptionAppendText"
              [animate]="animation"
              [size]="size"
              [thick]="thick"
              [max]="gaugeValueForThisMonth*3"
            >
            </ngx-gauge>
          </div>
          <div class="w-100"></div>
          <div class="col today-cost text-center">
              <h6 >Today cost</h6>
              <mat-card  >  {{gaugeCostForToday}} {{gaugeCostAppendText}} </mat-card>
          </div>
          <div class="col month-cost text-center">
              <h6 >This month cost</h6>
              <mat-card  >  {{gaugeCostForThisMonth}} {{gaugeCostAppendText}} </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-white recent-activity" style=" background-color: rgba(52,58,64,0.8)">
    <div class="card-header" style="background-color:#CC527A">Recent Activity</div>
    <div
      class="card-body notifications"
      #notificationsPanel
      [scrollTop]="notificationsPanel.scrollHeight"
    >
     <mat-card
        *ngFor="let notification of notifications"
        class="card-text notification text-light"
      >
        {{ notification }}
     </mat-card>
    </div>
  </div>
</div>
