.info {
  margin-top: 6%;
  height: 383px;
  width: 167%;
  .title {
    margin-top: 2.5%;
    margin-left: 2.5%;
  }
  .info-box-image {
    width: 50%;
    height: 30%;
    margin-left: 25%;
  }
  .main-property {
    margin-top: 2%;
    margin-left: 5%;
    font-size: 110%;
    margin-bottom: 10%;
    .secondary-property {
      margin-top: 5%;
      margin-left: 8%;
    }
  }
}

