.mat-slide-toggle {
    margin-top:5%;
    margin-left: 5%;
  }
  .title{
    margin-top: 2%;
    margin-left: 2%;
    font-size: 120%;
    
  
  }
  .right-size-consumers 
  {
    @mixin sidePanelElementsShading {
      -webkit-box-shadow: -14px 12px 16px -10px rgba(0, 0, 0, 0.7);
      -moz-box-shadow: -14px 12px 16px -10px rgba(0, 0, 0, 0.7);
      box-shadow: -14px 12px 16px -10px rgba(0, 0, 0, 0.7);
    }
  }