<div class="card text-white bg-dark right-size-consumers">
  <h6 class="title">Circuit consumers</h6>
  <div class="card-body ">
    <mat-card @cardEnter *ngFor="let card of cards" class="mat-elevation-z24 right-consumer">
      <h5>{{ card.name }}</h5>
      On/Off
      <mat-slide-toggle (change)="changeState(card)" width="10%" color="primary" checked={{card.state}}>
      </mat-slide-toggle>
      <div style="height:5vh; width: 12vw; float: right; margin-right: 5%;">
        <canvas id="{{card.name}}line-chart"></canvas></div>
    </mat-card>
  </div>
</div>