#path to CSV which contains sensors and consumers data
SENSOR_DATA_CSV=SensorData.csv

#the exchange for sending and receiving info to/from raspberry
EXCHANGE_NAME=colector_exchange

#exchange type
EXCHANGE_TYPE=direct

#the keys with which the data from sensors is encrypted
OUTLET_KEY=outlet_key
SWITCH_KEY=switch_key
SENSOR_KEY=sensor_key

#exchange host
HOST=localhost

#rabbitmq broker credentials
RABBITMQ_USERNAME=test
RABBITMQ_PASSWORD=test
RABBITMQ_PORT=5672

#Queue through which we receive the instrunctions from raspberry
QUEUE_INSTRUCTION=queue_instruction

#the key with which the instrunctions from raspberry are encrypted
INSTRUCTION_KEY=instruction_key