<div class ="wrapper " >
  <mat-card class="bg-dark text-light loginCard mat-elevation-z24"
    >Logare

    <form (ngSubmit)="onSubmit()" class="form-signin custom-style">
      <input
        type="text"
        class="form-control custom-input"
        [(ngModel)]="model.email"
        ngControl="email"
        name="email"
        placeholder="Email"
        required
        autofocus
      />

      <input
        type="password"
        id="inputPassword"
        class="form-control custom-input"
        placeholder="Parolă"
        [(ngModel)]="model.password"
        ngControl="password"
        name="password"
        required
      />

      <button class="btn btn-lg btn-primary custom-submit-button" type="submit">
        Intră
      </button>
      <div [hidden]="!userNotExisting" style="margin-top: 2% "class="alert alert-danger" role="alert">
Email/parolă invalidă      </div>
    </form>
  </mat-card>
</div>
