@keyframes expand {
  from {
    margin-top: 1%;
    width: 75%;
    float: left;
    margin-left: 10%;
    height: 10%;
  }
  to {
    margin-top: 1%;
    width: 75%;
    float: left;
    margin-left: 10%;
    height: 90%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.power-map {
  width: 88%;
  height: 80%;

  margin-left: 10%;

  .circuit {
    margin-top: 1%;
    width: 75%;
    float: left;
    margin-left: 10%;
    height: 10%;
  }
  .circuitExpanded {
    animation: expand;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  .circuitRetracted {
    animation: expand;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
  }
  .fadeIn {
    animation: fade-in;
    animation-fill-mode: forwards;
    animation-duration: 3s;
  }
}

.power-source-panel {
  width: 10%;
  height: 100%;
  float: left;
  .power-source {
    margin-top: 70%;
    width: 90%;
    border-width: 5px;
    border-style: solid;
    border-color: #2eb9ce;
  }
}
