<div class="card text-white bg-dark power-map">
  <div class="card-body ">
    <div class="power-source-panel">
      <div class=" power-source">Column</div>

      <div class=" power-source">Column</div>
    </div>

    <div 
      *ngFor="let circuit of circuits"
      class="card  text-dark bg-light circuit "
      [@fade]=circuit.currentState
      [@hidden]=circuit.hidden
      
      id="{{ circuit.circuitId }}"

      (click)="changeSize(circuit)"
      (click)="changeX($event)"
    >
      <div
       
      >
        <div class="card-header">Power consumption map{{ circuit.circuitId }}</div>
      </div>
      <div
      [hidden]="!circuit.expanded"
      [ngClass]="{
        fadeIn: circuit.expanded
      }"
    >
      <div class="card-header">Power consumption map</div>
    </div>
    <div
    [hidden]="!circuit.expanded"
    [ngClass]="{
      fadeIn: circuit.expanded
    }"
  >
    <div class="card-header">Power consumption map</div>
  </div>
    </div>
    <div id="tree-container"></div>
  </div>
</div>
