.power-map {
  width: 92%;
  height: 85%;
  margin-left: 7%;
  overflow: hidden;
  .circuit {
    height: 10%;
    .title {
      margin-top: 0.5%;
      margin-left: 0.5%;
      float: left;
      cursor: pointer;
    }
  }
  .power-source-panel {
    width: 15%;
    height: 100%;
    float: left;

    .power-source {
      height: 394.5px;
      width: 100%;
      .title {
        margin-top: 2.5%;
        margin-left: 2.5%;
      }
    }
    .info {
      margin-top: 6%;
      height: 383px;
      width: 100%;
      .title {
        margin-top: 2.5%;
        margin-left: 2.5%;
      }
    }
  }
}
#expand-retract-icon {
  width: 2%;
  height: 80%;
  float: left;
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
