<div class="card text-white bg-dark power-map">
  <div class="card-header">Power consumption map</div>
  <div class="card-body ">
    <div class="power-source-panel">
      <div class=" power-source">Column</div>

      <div class=" power-source">Column</div>

     
    </div>
    <div class="surface" #surface></div>
    <div *ngFor="let circuit of circuits" class="card text-white bg-dark circuit">
      Power consumption map
      <div class="card-body notifications"></div>
    </div>
    
  </div>
</div>
