@mixin sidePanelElementsShading {
    -webkit-box-shadow: -14px 12px 16px -10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: -14px 12px 16px -10px rgba(0, 0, 0, 0.7);
    box-shadow: -14px 12px 16px -10px rgba(0, 0, 0, 0.7);
  }
  
  .recent-activity {
    @include sidePanelElementsShading;
    margin-top: 4%;
    float: right;
    height: 43vh;
    width: 100%;
  
    .notifications {
      overflow: auto;
      .notification {
        margin-bottom: 2%;
        background-color: #474747;
        padding-left: 5%;
        border-radius: 7px 7px 7px 7px;
        -moz-border-radius: 7px 7px 7px 7px;
        -webkit-border-radius: 7px 7px 7px 7px;
        border: 0px solid #000000;
      }
  
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }